In [1]:
                                         ### 1st Project ###

In [36]:
# 1. Explain the data. Check It is supervised or Unsupervised. Demonstrate?

''' The insurance data about the a way to manage your risk. When you buy insurance, 
you purchase protection against unexpected financial losses. The insurance company pays you or someone you choose
if something bad happens to you. If you have no insurance and an accident happens, you may be responsible for all related costs.'''

'''In supervised learning, input data is provided to the model along with the output. 
   In unsupervised learning, only input data is provided to the model.
   But,according to insurance data this is seems to be labeled input and output data of supervised learning. '''

'In supervised learning, input data is provided to the model along with the output. \n   In unsupervised learning, only input data is provided to the model.\n   But,according to insurance data this is seems to be labeled input and output data of supervised learning. '

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import scipy.stats as st

In [38]:
df=pd.read_csv('insurance .csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [39]:
# 2. Estimate the minimum sample size n to get the 99% accurate predictions. (precision = 0.02)
z=-2.57 
e=0.02  #(precision error)
p=0.5   #(probability of success)
q=1-p   #(probability of failure)

sample_size_of_n=(z**2/e**2)*p*q
print(sample_size_of_n)

4128.062499999999

In [40]:
# 3. Check the data is cleaned or not. If not then clean it (Null values, Row/Column Duplicates, Outliers, 
#                                                           Change the string into numbers)

In [41]:
# Checking of null values.
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [42]:
# Checking of duplicate values.
df.duplicated().sum()

1

In [43]:
duplicates=df[df.duplicated(keep='last')]
duplicates

     age   sex    bmi  children smoker     region    charges
195   19  male  30.59         0     no  northwest  1639.5631

df.drop_duplicates(inplace = True)
df.duplicated().sum()

In [44]:
# Removing of Outliers
def outliers(column):
    a=df[column].mean()
    a1=df[column].min()
    a2=df[column].max()
    l=len(df)
    q1=df[column].quantile(0.25)
    q3=df[column].quantile(0.75)
    
    IQR=q3-q1
    lower=q1-(IQR*1.5)
    upper=q3+(IQR*1.5)
    no=len(df.loc[np.where((df[column]>upper) | (df[column]<lower))])
    percent= (no/l)*100
    print(f'{column}\n percentage= {percent}\n number={no}\n mean= {a}\n min={a1}\n max={a2}')
    
for i in df.select_dtypes(exclude='object').columns:
    outliers(i)

age
 percentage= 0.0
 number=0
 mean= 39.20702541106129
 min=18
 max=64
bmi
 percentage= 0.672645739910314
 number=9
 mean= 30.663396860986538
 min=15.96
 max=53.13
children
 percentage= 0.0
 number=0
 mean= 1.0949177877429
 min=0
 max=5
charges
 percentage= 10.388639760837071
 number=139
 mean= 13270.422265141257
 min=1121.8739
 max=63770.42801

In [46]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,1338.0,39.207025,14.049960,18.0000,27.00000,39.000,51.000000,64.00000
bmi,1338.0,30.663397,6.098187,15.9600,26.29625,30.400,34.693750,53.13000
children,1338.0,1.094918,1.205493,0.0000,0.00000,1.000,2.000000,5.00000
charges,1338.0,13270.422265,12110.011237,1121.8739,4740.28715,9382.033,16639.912515,63770.42801

In [47]:
# Changing the Strings into integer of sex,smoker and region column as below.

df['sex']=df['sex'].map({'male':0,'female':1}).astype(int)
df['smoker']=df['smoker'].map({'yes':1,'no':0}).astype(int)
df['region']=df['region'].map({'southwest':1,'southeast':2,'northwest':3,'northeast':4}).astype(int)
df

      age  sex     bmi  children  smoker  region      charges
0      19    1  27.900         0       1       1  16884.92400
1      18    0  33.770         1       0       2   1725.55230
2      28    0  33.000         3       0       2   4449.46200
3      33    0  22.705         0       0       3  21984.47061
4      32    0  28.880         0       0       3   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    0  30.970         3       0       3  10600.54830
1334   18    1  31.920         0       0       4   2205.98080
1335   18    1  36.850         0       0       2   1629.83350
1336   21    1  25.800         0       0       1   2007.94500
1337   61    1  29.070         0       1       3  29141.36030

[1338 rows x 7 columns]

In [48]:
# 4. Check that sex and smoking are statistically independent or not.
'Sex and smoker are statistically independent.'

'Sex and smoker are statistically independent.'

In [49]:
c1=df["sex"]
c2=df["smoker"]
correlation=c1.corr(c2)
print(correlation)

-0.07618481692109508

In [50]:
# 5. Check that all regressor variables (independent variable) are independent of each other or not.
c1=df["age"]
c2=df["smoker"]
correlation=c1.corr(c2)
print(correlation)

-0.02501875153628505

In [53]:
x=df['age']
y=df['smoker']

x_mean=df.age.mean()
df['difference_x']=x_mean-x
df['difference_x^2'] = df.difference_x**2
sq1=df['difference_x^2'].sum()  

y_mean=y.mean()
df['difference_y'] = y_mean-y
sq2=(df.difference_x * df.difference_y).sum() 

n=sq2/sq1 
print(n)

j=y_mean-n*x_mean 
print(j)

def prediction_of_y(value):
    predicted=n+value+j
    return predicted

-0.0007188576016893378
0.23296752685128622

In [60]:
total_some_of_squares=((y-y_mean)**2).sum()
total_some_of_squares

217.88938714499255

In [61]:
y_hat=prediction_of_y(x)
y_hat

0       19.232249
1       18.232249
2       28.232249
3       33.232249
4       32.232249
          ...
1333    50.232249
1334    18.232249
1335    18.232249
1336    21.232249
1337    61.232249
Name: age, Length: 1338, dtype: float64

In [62]:
some_residual_squares = ((y-y_hat)**2).sum()
some_residual_squares

2324166.9645861443

In [63]:
R_square=1-total_some_of_squares/some_residual_squares
R_square

0.9999062505446188

In [66]:
df.corr()

,age,sex,bmi,children,smoker,region,charges,difference_x,difference_x^2,difference_y
age,1.000000,0.020856,0.109272,0.042469,-0.025019,-0.002127,0.299008,-1.000000,0.063997,0.025019
sex,0.020856,1.000000,-0.046371,-0.017163,-0.076185,0.004588,-0.057292,-0.020856,0.000327,0.076185
bmi,0.109272,-0.046371,1.000000,0.012759,0.003750,-0.157566,0.198341,-0.109272,0.038516,-0.003750
children,0.042469,-0.017163,0.012759,1.000000,0.007673,-0.016569,0.067998,-0.042469,-0.294268,-0.007673
smoker,-0.025019,-0.076185,0.003750,0.007673,1.000000,0.002181,0.787251,0.025019,-0.010738,-1.000000
region,-0.002127,0.004588,-0.157566,-0.016569,0.002181,1.000000,0.006208,0.002127,0.003403,-0.002181
charges,0.299008,-0.057292,0.198341,0.067998,0.787251,0.006208,1.000000,-0.299008,0.053527,-0.787251
difference_x,-1.000000,-0.020856,-0.109272,-0.042469,0.025019,0.002127,-0.299008,1.000000,-0.063997,-0.025019
difference_x^2,0.063997,0.000327,0.038516,-0.294268,-0.010738,0.003403,0.053527,-0.063997,1.000000,0.010738
difference_y,0.025019,0.076185,-0.003750,-0.007673,-1.000000,-0.002181,-0.787251,-0.025019,0.010738,1.000000

In [ ]:
# 6. Check the dependency between response and regressors.
''' According to insurance data, there is a small dependency on charges based on [age],[bmi]. 
But there is a huge dependency on smoker. '''

In [67]:
c1=df["age"]
c2=df["charges"]
correlation = c1.corr(c2)
print(correlation)

0.29900819333064765

In [68]:
c1=df["sex"]
c2=df["charges"]
correlation=c1.corr(c2)
print(correlation)

-0.05729206220202542

In [69]:
c1=df["bmi"]
c2=df["charges"]
correlation = c1.corr(c2)
print(correlation)

0.1983409688336289

In [70]:
c1=df["smoker"]
c2=df["charges"]
correlation = c1.corr(c2)
print(correlation)

0.7872514304984771

In [71]:
df.corr()

,age,sex,bmi,children,smoker,region,charges,difference_x,difference_x^2,difference_y
age,1.000000,0.020856,0.109272,0.042469,-0.025019,-0.002127,0.299008,-1.000000,0.063997,0.025019
sex,0.020856,1.000000,-0.046371,-0.017163,-0.076185,0.004588,-0.057292,-0.020856,0.000327,0.076185
bmi,0.109272,-0.046371,1.000000,0.012759,0.003750,-0.157566,0.198341,-0.109272,0.038516,-0.003750
children,0.042469,-0.017163,0.012759,1.000000,0.007673,-0.016569,0.067998,-0.042469,-0.294268,-0.007673
smoker,-0.025019,-0.076185,0.003750,0.007673,1.000000,0.002181,0.787251,0.025019,-0.010738,-1.000000
region,-0.002127,0.004588,-0.157566,-0.016569,0.002181,1.000000,0.006208,0.002127,0.003403,-0.002181
charges,0.299008,-0.057292,0.198341,0.067998,0.787251,0.006208,1.000000,-0.299008,0.053527,-0.787251
difference_x,-1.000000,-0.020856,-0.109272,-0.042469,0.025019,0.002127,-0.299008,1.000000,-0.063997,-0.025019
difference_x^2,0.063997,0.000327,0.038516,-0.294268,-0.010738,0.003403,0.053527,-0.063997,1.000000,0.010738
difference_y,0.025019,0.076185,-0.003750,-0.007673,-1.000000,-0.002181,-0.787251,-0.025019,0.010738,1.000000

In [74]:
# 7. Predict the regression Line to predict the charges for insurance using independent variables.
x1=df["age"]
x2=df["sex"]
x3=df["bmi"]
x4=df["smoker"]
y=df["charges"]

x1=np.array(x1)
x2=np.array(x2)
x3=np.array(x3)
x4=np.array(x4)
y=np.array(y)

n=len(x1)

x_ones= np.ones((n,1))

x1_new=np.reshape(x1,(n,1))
x2_new=np.reshape(x2,(n,1))
x3_new=np.reshape(x3,(n,1))
x4_new=np.reshape(x4,(n,1))

x_new=np.append(x_ones,x1_new,axis=1)
x_new=np.append(x_new,x2_new,axis=1)
x_new=np.append(x_new,x3_new,axis=1)
x_new=np.append(x_new,x4_new,axis=1)

print("x : ", x_new)
print()

x_new_transpose = np.transpose(x_new)

print("x Transpose : ", x_new_transpose)

x_new_transpose_dot_x_new = x_new_transpose.dot(x_new)
temp1 =np.linalg.inv(x_new_transpose_dot_x_new)
temp2= x_new_transpose.dot(y)

Bheta_values = temp1.dot(temp2)
print("beta values:",Bheta_values)
print()

beta_0=Bheta_values[0]
beta_1=Bheta_values[1]
beta_2=Bheta_values[2]
beta_3=Bheta_values[3]
beta_4=Bheta_values[4]

print(beta_0)
print(beta_1)
print(beta_2)
print(beta_3)
print(beta_4)


def predicted_values(beta_0,beta_1,beta_2,beta_3,beta_4,age,sex,bmi,smoker):
    predicted_value = beta_0 +(age * beta_1)+ (sex * beta_2) + (bmi * beta_3) + (smoker * beta_4)
    return predicted_value

x :  [[ 1.   19.    1.   27.9   1.  ]
 [ 1.   18.    0.   33.77  0.  ]
 [ 1.   28.    0.   33.    0.  ]
 ...
 [ 1.   18.    1.   36.85  0.  ]
 [ 1.   21.    1.   25.8   0.  ]
 [ 1.   61.    1.   29.07  1.  ]]

x Transpose :  [[ 1.    1.    1.   ...  1.    1.    1.  ]
 [19.   18.   28.   ... 18.   21.   61.  ]
 [ 1.    0.    0.   ...  1.    1.    1.  ]
 [27.9  33.77 33.   ... 36.85 25.8  29.07]
 [ 1.    0.    0.   ...  0.    0.    1.  ]]
beta values: [-11742.53570285    259.45318189    109.04110867    323.0510586
  23833.87003847]

-11742.535702854278
259.45318188534793
109.0411086749009
323.05105860188996
23833.870038468318

In [75]:
age=29
sex=1
bmi=28
smoker=1

print(predicted_values(beta_0,beta_1,beta_2,beta_3,beta_4,age,sex,bmi,smoker))

28769.94735981695

In [78]:
# 8. Predict the accuracy of the regression Model.
x=df.iloc[:,0:5].values
y=df.iloc[:,6].values
print("x: ",x)
print("y: ",y)

x:  [[19.    1.   27.9   0.    1.  ]
 [18.    0.   33.77  1.    0.  ]
 [28.    0.   33.    3.    0.  ]
 ...
 [18.    1.   36.85  0.    0.  ]
 [21.    1.   25.8   0.    0.  ]
 [61.    1.   29.07  0.    1.  ]]
y:  [16884.924   1725.5523  4449.462  ...  1629.8335  2007.945  29141.3603]

In [79]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

from sklearn.linear_model import LinearRegression
lin_regressor= LinearRegression()
lin_regressor.fit(x_train,y_train)
y_predict=lin_regressor.predict(x_test)
score=lin_regressor.score(x_test,y_test)
print("Linear Regression Accuracy is",score*100)

Linear Regression Accuracy is 79.52171980481992

In [81]:
# 9. Predict insurance charge for Age = 29, Sex = F, bmi = 28, children = 1, Smoke = Yes, region = southeast.

In [82]:
## REGION -   southwest :1, southeast :2, northwest :3, northeast :4 
## SEX -     male :0, female :1
## SMOKER  -  yes :1, no :0

x1=df["age"]
x2=df["sex"]
x3=df["bmi"]
x4=df["smoker"]
x5=df["region"]
y=df["charges"]

x1=np.array(x1)
x2=np.array(x2)
x3=np.array(x3)
x4=np.array(x4)
x5=np.array(x5)

y=np.array(y)

n=len(x1)

x_ones= np.ones((n,1))

x1_new=np.reshape(x1,(n,1))
x2_new=np.reshape(x2,(n,1))
x3_new=np.reshape(x3,(n,1))
x4_new=np.reshape(x4,(n,1))
x5_new=np.reshape(x5,(n,1))


x_new=np.append(x_ones,x1_new,axis=1)
x_new=np.append(x_new,x2_new,axis=1)
x_new=np.append(x_new,x3_new,axis=1)
x_new=np.append(x_new,x4_new,axis=1)
x_new=np.append(x_new,x5_new,axis=1)


print("x : ", x_new)
print()

x_new_transpose = np.transpose(x_new)

print("x Transpose : ", x_new_transpose)

x_new_transpose_dot_x_new = x_new_transpose.dot(x_new)
temp1 =np.linalg.inv(x_new_transpose_dot_x_new)
temp2= x_new_transpose.dot(y)

Bheta_values = temp1.dot(temp2)
print("beta values:",Bheta_values)
print()

beta_0=Bheta_values[0]
beta_1=Bheta_values[1]
beta_2=Bheta_values[2]
beta_3=Bheta_values[3]
beta_4=Bheta_values[4]
beta_5=Bheta_values[5]


print(beta_0)
print(beta_1)
print(beta_2)
print(beta_3)
print(beta_4)
print(beta_5)



def predicted_values(beta_0,beta_1,beta_2,beta_3,beta_4,beta_5,age,sex,bmi,smoker,region):
    predicted_value = beta_0 +(age * beta_1)+ (sex * beta_2) + (bmi * beta_3) + (smoker * beta_4) + (region * beta_5)
    return predicted_value

x :  [[ 1.   19.    1.   27.9   1.    1.  ]
 [ 1.   18.    0.   33.77  0.    2.  ]
 [ 1.   28.    0.   33.    0.    2.  ]
 ...
 [ 1.   18.    1.   36.85  0.    2.  ]
 [ 1.   21.    1.   25.8   0.    1.  ]
 [ 1.   61.    1.   29.07  1.    3.  ]]

x Transpose :  [[ 1.    1.    1.   ...  1.    1.    1.  ]
 [19.   18.   28.   ... 18.   21.   61.  ]
 [ 1.    0.    0.   ...  1.    1.    1.  ]
 [27.9  33.77 33.   ... 36.85 25.8  29.07]
 [ 1.    0.    0.   ...  0.    0.    1.  ]
 [ 1.    2.    2.   ...  2.    1.    3.  ]]
beta values: [-12890.75688823    259.03415876    111.25453502    333.02767891
  23831.08709943    345.45176906]

-12890.756888225616
259.03415876477425
111.2545350150649
333.0276789060699
23831.087099428918
345.4517690617813

In [83]:
age=29
sex=1
bmi=28
smoker=1
region=2

print(predicted_values(beta_0,beta_1,beta_2,beta_3,beta_4,beta_5,age,sex,bmi,smoker,region))

28579.25389789034

In [85]:
# 10. Give the percentage of error in regression model.

In [90]:
y=df['charges'].sum()
y_bar=df.charges.mean()
suma=0  
l=df.charges.size 

difference=y-y_bar
squared_difference=difference**2  
suma = summation+squared_difference 
MSE = suma/l
    
print("The Mean Square Error is: " , MSE)

The Mean Square Error is:  470550437393.09753

In [91]:
# 11. Give the 95% confidence interval for average charge insurance.

In [92]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.stats.weightstats as sms
from scipy.stats import t
import math

In [93]:
df

,age,sex,bmi,children,smoker,region,charges,difference_x,difference_x^2,difference_y
0,19,1,27.900,0,1,1,16884.92400,20.207025,408.323876,-0.795217
1,18,0,33.770,1,0,2,1725.55230,21.207025,449.737927,0.204783
2,28,0,33.000,3,0,2,4449.46200,11.207025,125.597419,0.204783
3,33,0,22.705,0,0,3,21984.47061,6.207025,38.527164,0.204783
4,32,0,28.880,0,0,3,3866.85520,7.207025,51.941215,0.204783
...,...,...,...,...,...,...,...,...,...,...
1333,50,0,30.970,3,0,3,10600.54830,-10.792975,116.488300,0.204783
1334,18,1,31.920,0,0,4,2205.98080,21.207025,449.737927,0.204783
1335,18,1,36.850,0,0,2,1629.83350,21.207025,449.737927,0.204783
1336,21,1,25.800,0,0,1,2007.94500,18.207025,331.495774,0.204783
1337,61,1,29.070,0,1,3,29141.36030,-21.792975,474.933741,-0.795217

In [95]:
n=1337
x_bar =df.charges.mean()
x_bar

13270.422265141257

In [97]:
muu=df.charges.median()
muu

9382.033

In [98]:
Sd=df.charges.std()
Sd

12110.011236693994

In [99]:
n=1337
mu_0=muu
alpha=0.05
t_stat=math.sqrt(n)*(x_bar - mu_0)/Sd
crit=t.ppf(1-alpha, n-1)
wing_span=crit*Sd/(math.sqrt(n))
print(("t-statistics t = {:.4f}").format(t_stat))
print(("Confidence interval with 99% confidence level: (-∞)({:.4f})").format(x_bar+wing_span))

t-statistics t = 11.7406
Confidence interval with 99% confidence level: (-∞)(13815.5614)